extends layout

block content
  //Check for any articles being passed in from the server
  if (articles && articles.length)
    table
        thead
            th Name
            th Description
            th Update
            th Delete
        tbody
            //If there is articles, create a row and column for each article
            each article in articles
                tr
                    td= article.name
                    td= article.description
                    td 
                        a(href='/update/'+article.id) Update
                    td
                        form(method='POST' action='/delete/'+article.id)
                            button(type='submit') Delete
  else
    h1 No articles!